/**
 * @name: common.css
 * @description: 公共样式表
 * @author: 干将
 * @update: 2015-05-25 0:0:00;
 */
*{
	margin:0;
	padding:0;
}

ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.u-l{
	float: left;
}
.u-r{
	float: right;
}
.u-clearfix:after{
	content: '';
	clear: both;
	display: block;
}
